<app-menu></app-menu>
<div class="container mt-4">
  <div class="row">
    <div class="col">
      <a href="/employees" class="btn btn-primary btn-sm"> < Employees list</a>
    </div>
  </div>
</div>
<div id="form" class="container w-50">
  <div class="row">
    <div class="col">
      <div *ngIf="this.id == undefined; then thenHeader else elseHeader"></div>
      <ng-template #thenHeader><h2 class="text-center">Create new employee</h2></ng-template>
      <ng-template #elseHeader><h2 class="text-center">Edit employee</h2></ng-template>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      <div class="alert alert-danger" *ngIf="uniqueEmbg">
        Employee with that EMBG already exists.
      </div>
      <form #f="ngForm"
            (ngSubmit)="f.form.valid && this.id == undefined ? saveEmployee(): editEmployee(form.id)">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Name</label>
          <div class="col-sm-10">
            <input name="name"
                   type="text"
                   class="form-control mb-2"
                   placeholder="Enter name"
                   [(ngModel)]="form.name"
                   #name="ngModel"
                   required
                   minlength="2">
            <div class="alert alert-danger mt-2"
                 role="alert"
                 *ngIf="name.errors && f.submitted">
              <div *ngIf="name.errors['required']">Name is required</div>
              <div *ngIf="name.errors['minlength']">Name must be at least 2 characters</div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Surname</label>
          <div class="col-sm-10">
            <input name="surname"
                   type="text"
                   class="form-control mb-2"
                   placeholder="Enter surname"
                   [(ngModel)]="form.surname"
                   #surname="ngModel"
                   required
                   minlength="2">
            <div class="alert alert-danger mt-2"
                 role="alert"
                 *ngIf="surname.errors && f.submitted">
              <div *ngIf="surname.errors['required']">Surname is required</div>
              <div *ngIf="surname.errors['minlength']">Surname must be at least 2 characters</div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">EMBG</label>
          <div class="col-sm-10">
            <input name="embg"
                   type="text"
                   class="form-control mb-2"
                   placeholder="Enter EMBG"
                   [(ngModel)]="form.embg"
                   #embg="ngModel"
                   required>
            <div class="alert alert-danger mt-2"
                 role="alert"
                 *ngIf="embg.errors && f.submitted">
              <div *ngIf="embg.errors['required']">EMBG is required</div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-10">
            <input name="email"
                   type="email"
                   class="form-control"
                   placeholder="Enter email"
                   [(ngModel)]="form.email"
                   #email="ngModel"
                   required
                   email>
            <div class="alert alert-danger mt-2"
                 role="alert"
                 *ngIf="email.errors && f.submitted">
              <div *ngIf="email.errors['required']">Email is required</div>
              <div *ngIf="email.errors['email']">Email is not valid</div>
            </div>
          </div>
        </div>
        <div class="form-group row mt-2">
          <label class="col-sm-2 col-form-label">Status</label>
          <div class="col-sm-10">
            <select name="status"
                    class="form-control form-control-sm"
                    [(ngModel)]="form.status"
                    #status="ngModel"
                    required>
              <option [ngValue]="null" selected disabled>Select Status</option>
              <option value="ACTIVE">ACTIVE</option>
              <option value="INACTIVE">INACTIVE</option>
            </select>
            <div class="alert alert-danger mt-2"
                 role="alert"
                 *ngIf="status.errors && f.submitted">
              <div *ngIf="status.errors['required']">Status is required</div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Type</label>
          <div class="col-sm-10">
            <select name="type"
                    class="form-control form-control-sm"
                    [(ngModel)]="form.type"
                    #type="ngModel"
                    required>
              <option [ngValue]="null" selected disabled>Select Type</option>
              <option value="PERMANENT">PERMANENT</option>
              <option value="PROBATIONARY">PROBATIONARY</option>
              <option value="INTERN">INTERN</option>
            </select>
            <div class="alert alert-danger mt-2"
                 role="alert"
                 *ngIf="type.errors && f.submitted">
              <div *ngIf="type.errors['required']">Type is required</div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Project</label>
          <div class="col-sm-10">
            <input name="projectName"
                   type="text"
                   class="form-control mb-2"
                   placeholder="Name of the project"
                   [(ngModel)]="form.projectName"
                   #projectName="ngModel"
            >
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Country</label>
          <div class="col-sm-10">
            <input name="country"
                   type="text"
                   class="form-control mb-2"
                   placeholder="Enter country"
                   [(ngModel)]="form.country"
                   #country="ngModel"
                   required>
            <div class="alert alert-danger mt-2"
                 role="alert"
                 *ngIf="country.errors && f.submitted">
              <div *ngIf="country.errors['required']">Country is required</div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Office</label>
          <div class="col-sm-10">
            <input name="office"
                   type="text"
                   class="form-control"
                   placeholder="Enter office"
                   [(ngModel)]="form.office"
                   #office="ngModel"
                   required>
            <div class="alert alert-danger mt-2"
                 role="alert"
                 *ngIf="office.errors && f.submitted">
              <div *ngIf="office.errors['required']">Office is required</div>
            </div>
          </div>
        </div>

        <div class="form-group row mt-2">
          <label class="col-sm-2 col-form-label">User</label>
          <div class="col-sm-10">
            <mat-form-field>
              <mat-select name="userId"
                          placeholder="Users"
                          [(ngModel)]="form.user.id"
                          required>
                <mat-option>
                  <ngx-mat-select-search placeholderLabel="Search users"
                                         type="text"
                                         name="search"
                                         [(ngModel)]="searchText">
                  </ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let user of userForm | filter:searchText" [value]="user.id">
                  {{user.username}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div *ngIf="this.id == undefined; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
          <button type="submit" class="btn btn-primary mt-4 mb-5">Create employee</button>
        </ng-template>
        <ng-template #elseBlock>
          <button type="submit" class="btn btn-primary mt-4 mb-5">Edit employee</button>
        </ng-template>
      </form>
    </div>
  </div>
</div>
