<app-menu></app-menu>
<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h2 class="mb-5 text-center">Roles</h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table table-striped table-bordered text-center">
        <thead class="bg-light">
        <tr>
          <th scope="col">Role</th>
          <th scope="col">Description</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let role of roles">
          <td>{{role.name}}</td>
          <td>{{role.description}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
