<app-menu></app-menu>
<div class="container mt-4">
  <div class="row">
    <div class="col">
      <h2 class="mb-4 text-center">Employees</h2>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col float-end">
      <a *ngIf="userRole == 'ADMIN' || userRole == 'OFFICE_ASSISTANT'" routerLink="/employee/create"
         class="d-inline p-2 btn btn-primary">Create new Employee</a>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table table-striped table-bordered text-center">
        <thead class="bg-light">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Employee</th>
          <th scope="col">Email</th>
          <th scope="col">EMBG</th>
          <th scope="col">Status</th>
          <th scope="col">Type</th>
          <th scope="col">Project</th>
          <th scope="col">Office</th>
          <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let employee of employees | paginate: {itemsPerPage: 5,
                                                                  currentPage: p,
                                                                  totalItems: employees?.length}">
          <td>{{employee.id}}</td>
          <td>{{employee.name}} {{employee.surname}}</td>
          <td>{{employee.email}}</td>
          <td>{{employee.embg}}</td>
          <td>{{employee.status}}</td>
          <td>{{employee.type}}</td>
          <td>{{employee.projectName}}</td>
          <td>{{employee.office}}</td>
          <td>
            <a (click)="getEmployeeById(employee.id)" class="btn btn-primary">Edit</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col text-center mt-3">
      <pagination-controls (pageChange)="p = $event"
                           previousLabel="Back"
                           nextLabel="Next">
      </pagination-controls>
    </div>
  </div>
</div>
