<nav class="navbar navbar-expand-lg navbar-light bg-light p-3">
  <a href="/home" class="navbar-brand">Leave Planner</a>
</nav>

<div class="container mt-5 w-25">
  <div class="row">
    <div class="col">
      <div class="text-center">
        <img id="profile-img"
             src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
             class="text-center img-thumbnail"
             style="width: 100px; height: 100px"
             alt="profileImage"/>
      </div>
      <form class="mt-4"
            *ngIf="!isLoggedIn"
            name="form"
            (ngSubmit)="f.form.valid && onSubmit()"
            #f="ngForm"
            novalidate>
        <div class="form-group">
          <label for="username">Username</label>
          <input id="username"
                 type="text"
                 class="form-control mt-2"
                 name="username"
                 [(ngModel)]="form.username"
                 required
                 minlength="2"
                 #username="ngModel"/>
          <div class="alert alert-danger mt-2"
               role="alert"
               *ngIf="username.errors && f.submitted">
            <div *ngIf="username.errors['required']">
              Username is required
            </div>
            <div *ngIf="username.errors['minlength']">
              Username must be at least 2 characters
            </div>
          </div>
        </div>
        <div class="form-group mt-3">
          <label for="password">Password</label>
          <input id="password"
                 type="password"
                 class="form-control mt-2"
                 name="password"
                 [(ngModel)]="form.password"
                 required
                 minlength="3"
                 #password="ngModel"/>
          <div class="alert alert-danger mt-2"
               role="alert"
               *ngIf="password.errors && f.submitted">
            <div *ngIf="password.errors['required']">
              Password is required
            </div>
            <div *ngIf="password.errors['minlength']">
              Password must be at least 6 characters
            </div>
          </div>
        </div>
        <div class="alert alert-danger mt-2"
             role="alert"
             *ngIf="(wrongCredentials && (!username.errors && !password.errors && username != null && password != null))">
          Wrong credentials
        </div>
        <div class="form-group mt-4">
          <button class="btn btn-primary btn-block">
            Login
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
