<app-menu></app-menu>
<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h2 class="mb-4 text-center">Users</h2>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col float-end">
      <a routerLink="/users/create" class="d-inline p-2 btn btn-primary">Create new User</a>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table table-striped table-bordered text-center">
        <thead class="bg-light">
        <tr>
          <th scope="col">Username</th>
          <th scope="col">Email</th>
          <th scope="col">Status</th>
          <th scope="col">Role</th>
          <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users | paginate: {itemsPerPage: 5,
                                                        currentPage: p,
                                                        totalItems: users?.length}">
          <td>{{user.username}}</td>
          <td>{{user.email}}</td>
          <td *ngIf="user.status == true">ACTIVE</td>
          <td *ngIf="user.status == false">INACTIVE</td>
          <td>{{user.role.name}}</td>
          <td>
            <a (click)="getUserById(user.id)" class="btn btn-primary">Edit</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col text-center mt-3">
      <pagination-controls (pageChange)="p = $event"
                           previousLabel="Back"
                           nextLabel="Next">
      </pagination-controls>
    </div>
  </div>
</div>
