<app-menu></app-menu>
<div class="container mt-5 w-50 text-center">
  <div class="row">
    <div class="col">
      <h1>Reports</h1>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col">
      <h2>Monthly employee requests report</h2>
    </div>
  </div>
  <form #f="ngForm"
        (ngSubmit)="f.form.valid && generateMonthlyReport()">
    <div class="form-group row mt-3">
      <div class="input-group">
        <label class="col-sm-2 col-form-label">Month</label>
        <select name="month"
                class="form-control form-control-sm"
                required
                [(ngModel)]="currentMonth">
          <option value="1">January</option>
          <option value="2">February</option>
          <option value="3">March</option>
          <option value="4">April</option>
          <option value="5">May</option>
          <option value="6">June</option>
          <option value="7">July</option>
          <option value="8">August</option>
          <option value="9">September</option>
          <option value="10">October</option>
          <option value="11">November</option>
          <option value="12">December</option>
        </select>
        <div>
          <button type="submit" class="btn btn-primary">Generate monthly report</button>
        </div>
      </div>
    </div>
  </form>
</div>
