<app-menu></app-menu>
<div class="container mt-4">
  <div class="row">
    <div class="col">
      <h2 class="mb-5 mt-3 text-center">Employees Requests</h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table table-striped table-bordered text-center">
        <thead class="bg-light">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Status</th>
          <th scope="col">Employee</th>
          <th scope="col">Request Type</th>
          <th scope="col">Start Date</th>
          <th scope="col">End Date</th>
          <th scope="col">Office</th>
          <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let request of employeesRequests | paginate: {itemsPerPage: 5,
                                                                  currentPage: p,
                                                                  totalItems: employeesRequests?.length}">
          <td>{{request.id}}</td>

          <div *ngIf="request.requestStatus == 'APPROVED'; then approve"></div>
          <div *ngIf="request.requestStatus == 'DECLINED'; then decline"></div>
          <div *ngIf="request.requestStatus == 'PENDING'; then pending"></div>

          <ng-template #approve>
            <td><i data-toggle="tooltip" title="Approved" class="bi bi-check-circle-fill"></i></td>
          </ng-template>

          <ng-template #decline>
            <td><i data-toggle="tooltip" title="Declined" class="bi bi-dash-circle-fill"></i></td>
          </ng-template>

          <ng-template #pending>
            <td><i data-toggle="tooltip" title="Pending" class="bi bi-hourglass-split"></i></td>
          </ng-template>

          <td>{{request.employee.name}} {{request.employee.surname}}</td>
          <td>{{request.type}}</td>
          <td>{{request.startDate | date: 'dd/MM/yyyy'}}</td>
          <td>{{request.endDate | date: 'dd/MM/yyyy'}}</td>
          <td>{{request.employee.office}}</td>
          <td>
            <a (click)="getManagerReplyById(request.id)" class="btn btn-primary" type="submit">Manager Reply</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col text-center mt-3">
      <pagination-controls (pageChange)="p = $event"
                           previousLabel="Back"
                           nextLabel="Next">
      </pagination-controls>
    </div>
  </div>
</div>
