<app-menu></app-menu>
<div class="container mt-4">
  <div class="row">
    <div class="col">
      <a href="/users" class="btn btn-primary btn-sm"> < Users list</a>
    </div>
  </div>
</div>
<div id="form" class="container w-50">
  <div class="row">
    <div class="col">
      <div *ngIf="this.id == undefined; then createHeader else editHeader"></div>
      <ng-template #createHeader><h1 class="text-center">Create new user</h1></ng-template>
      <ng-template #editHeader><h1 class="text-center">Edit user</h1></ng-template>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col">
      <div class="alert alert-danger" *ngIf="uniqueUsername">
        User with that username already exists.
      </div>
      <form #f="ngForm"
            (ngSubmit)="f.form.valid && this.id == undefined ? saveUser() : editUser(form.id)">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Username</label>
          <div class="col-sm-10">
            <div *ngIf="this.id == undefined; then inputNotDisabled else inputDisabled"></div>
            <ng-template #inputNotDisabled>
              <input name="name"
                     type="text"
                     class="form-control mb-2"
                     placeholder="Enter username"
                     [(ngModel)]="form.username"
                     #username="ngModel"
                     required
                     minlength="2">
              <div class="alert alert-danger mt-2"
                   role="alert"
                   *ngIf="username.errors && f.submitted">
                <div *ngIf="username.errors['required']">Username is required</div>
                <div *ngIf="username.errors['minlength']">Username must be at least 2 characters</div>
              </div>
            </ng-template>
            <ng-template #inputDisabled>
              <input name="name"
                     type="text"
                     class="form-control mb-2"
                     placeholder="Enter username"
                     [(ngModel)]="form.username"
                     #username="ngModel"
                     required
                     minlength="2"
                     disabled>
              <div class="alert alert-danger mt-2"
                   role="alert"
                   *ngIf="username.errors && f.submitted">
                <div *ngIf="username.errors['required']">Username is required</div>
                <div *ngIf="username.errors['minlength']">Username must be at least 2 characters</div>
              </div>
            </ng-template>
          </div>
        </div>
        <div class="form-group row mt-2">
          <label class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-10">
            <input name="email"
                   type="email"
                   class="form-control mb-2"
                   placeholder="Enter email"
                   [(ngModel)]="form.email"
                   #email="ngModel"
                   required
                   email>
            <div class="alert alert-danger mt-2"
                 role="alert"
                 *ngIf="email.errors && f.submitted">
              <div *ngIf="email.errors['required']">Email is required</div>
              <div *ngIf="email.errors['email']">Email is not valid</div>
            </div>
          </div>
        </div>
        <div class="form-group row mt-2">
          <label class="col-sm-2 col-form-label">Password</label>
          <div class="col-sm-10">
            <div *ngIf="this.id == undefined; then passwordNotEmpty else emptyPassword"></div>
            <ng-template #passwordNotEmpty>
              <input name="password"
                     type="password"
                     class="form-control mb-2"
                     placeholder="Enter password"
                     [(ngModel)]="form.password"
                     #password="ngModel"
                     required
                     minlength="6">
              <div class="alert alert-danger mt-2"
                   role="alert"
                   *ngIf="password.errors && f.submitted">
                <div *ngIf="password.errors['required']">Password is required</div>
                <div *ngIf="password.errors['minlength']">Password must be at least 6 characters</div>
              </div>
            </ng-template>
            <ng-template #emptyPassword>
              <input name="password"
                     type="password"
                     class="form-control mb-2"
                     placeholder="Enter password"
                     [(ngModel)]="form.password"
                     required
                     minlength="6">
            </ng-template>
          </div>
        </div>
        <div class="form-group row mt-2">
          <label class="col-sm-2 col-form-label">Status</label>
          <div class="col-sm-10">
            <select name="status"
                    class="form-control form-control-sm"
                    [(ngModel)]="form.status"
                    #status="ngModel"
                    required>
              <option [ngValue]="null" selected disabled>Select Status</option>
              <option value="true">ACTIVE</option>
              <option value="false">INACTIVE</option>
            </select>
            <div class="alert alert-danger mt-2"
                 role="alert"
                 *ngIf="status.errors && f.submitted">
              <div *ngIf="status.errors['required']">Status is required</div>
            </div>
          </div>
        </div>
        <div class="form-group row mt-2">
          <label class="col-sm-2 col-form-label">Role</label>
          <div class="col-sm-10">
            <select name="role"
                    class="form-control form-control-sm"
                    [(ngModel)]="form.role.id"
                    #type="ngModel"
                    required>
              <option [ngValue]="null" selected disabled>Select Role</option>
              <option value="1">ADMIN</option>
              <option value="2">EMPLOYEE</option>
              <option value="3">OFFICE ASSISTANT</option>
              <option value="4">PROJECT MANAGER</option>
            </select>
            <div class="alert alert-danger mt-2"
                 role="alert"
                 *ngIf="type.errors && f.submitted">
              <div *ngIf="type.errors['required']">Role is required</div>
            </div>
          </div>
        </div>
        <div class="form-group row mt-2">
          <label class="col-sm-2 col-form-label">Employees</label>
          <div class="col-sm-10">
            <mat-form-field appearance="fill">
              <mat-label>Employees</mat-label>
              <mat-select [(ngModel)]="form.employees" multiple [attr.name]="'employees'"
                          [ngModelOptions]="{standalone: true}" minlength="1">
                <mat-option *ngFor="let employee of this.employeesList"
                            value="{{employee.id}}">{{employee.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div *ngIf="this.id == undefined; then createBlock else editBlock"></div>
        <ng-template #createBlock>
          <button type="submit" class="btn btn-primary mt-2 mb-5">Create User</button>
        </ng-template>
        <ng-template #editBlock>
          <button type="submit" class="btn btn-primary mt-2 mb-5">Edit User</button>
        </ng-template>
      </form>
    </div>
  </div>
</div>
