<nav class="navbar navbar-expand-lg navbar-light bg-light p-3">
  <a href="/home" class="navbar-brand">Leave Planner</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a
          *ngIf="userRole == 'ADMIN' || userRole == 'PROJECT_MANAGER' || userRole == 'OFFICE_ASSISTANT' || userRole == 'EMPLOYEE'"
          class="nav-link" routerLink="/home">Home</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a *ngIf="userRole == 'ADMIN'" class="nav-link" routerLink="/users">Users</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a *ngIf="userRole == 'ADMIN' || userRole == 'PROJECT_MANAGER' || userRole == 'OFFICE_ASSISTANT'"
           class="nav-link"
           routerLink="/employees">Employees</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a *ngIf="userRole == 'ADMIN' || userRole == 'PROJECT_MANAGER' || userRole == 'OFFICE_ASSISTANT'"
           class="nav-link"
           routerLink="/requests">Employees Requests</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a *ngIf="userRole == 'ADMIN' || userRole == 'PROJECT_MANAGER' || userRole == 'OFFICE_ASSISTANT'"
           class="nav-link"
           routerLink="/roles">Roles</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a *ngIf="userRole == 'OFFICE_ASSISTANT'"
           class="nav-link"
           routerLink="/reports">Reports</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a *ngIf="!authenticationService.isUserLoggedIn()" class="nav-link" routerLink="/login">Login</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a *ngIf="authenticationService.isUserLoggedIn()" class="nav-link" routerLink="/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>
