<app-menu></app-menu>
<div class="container mt-4">
  <div class="row">
    <div class="col">
      <a href="/home" class="btn btn-primary btn-sm"> < Back to Home</a>
    </div>
  </div>
</div>
<div id="form" class="container w-50">
  <div class="row">
    <div class="col">
      <h1 class="text-center">Request a day off</h1>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col">
      <div class="alert alert-danger" *ngIf="isStartDateNull == false && isEndDateNull == false && invalidDate()">The
        end date must be after the start date
      </div>
      <form name="form"
            (ngSubmit)="invalidDate() == false && f.form.valid && createRequest()"
            #f="ngForm">
        <div class="form-group row mt-2 mb-3">
          <label class="col-sm-2 col-form-label">Type</label>
          <div class="col-sm-10">
            <select name="type"
                    class="form-control form-control-sm"
                    [(ngModel)]="form.type"
                    #type="ngModel"
                    required>
              <option [ngValue]="null" selected disabled>Select type</option>
              <option value="Vacation">Vacation</option>
              <option value="Day off">Day off</option>
              <option value="Sick leave">Sick leave</option>
            </select>
            <div class="alert alert-danger mt-2"
                 role="alert"
                 *ngIf="type.errors && f.submitted">
              <div *ngIf="type.errors['required']">Type is required</div>
            </div>
          </div>
        </div>
        <div class="form-group row mb-3">
          <label class="col-sm-2 col-form-label">Start date</label>
          <div class="col-sm-10">
            <input name="startDate"
                   type="date"
                   [(ngModel)]="form.startDate"
                   #startDate="ngModel"
                   required>
            <div class="alert alert-danger mt-2"
                 role="alert"
                 *ngIf="startDate.errors && f.submitted">
              <div *ngIf="startDate.errors['required']">Start date is required</div>
            </div>
          </div>
        </div>
        <div class="form-group row mb-3">
          <label class="col-sm-2 col-form-label">End date</label>
          <div class="col-sm-10">
            <input name="endDate"
                   type="date"
                   [(ngModel)]="form.endDate"
                   #endDate="ngModel"
                   required>
            <div class="alert alert-danger mt-2"
                 role="alert"
                 *ngIf="endDate.errors && f.submitted">
              <div *ngIf="endDate.errors['required']">End date is required</div>
              <div *ngIf="isStartDateNull == false && isEndDateNull == false && invalidDate()"><br>The end date must be
                after the start date
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Description</label>
          <div class="col-sm-10">
            <textarea name="description"
                      rows="4"
                      cols="60"
                      [(ngModel)]="form.description"
                      #description="ngModel">
            </textarea>
          </div>
        </div>
        <button type="submit" class="btn btn-primary mt-4 mb-4">Request</button>
      </form>
    </div>
  </div>
</div>
