<app-menu></app-menu>
<div class="container mt-4">
  <div class="row">
    <div class="col">
      <a href="/home" class="btn btn-primary btn-sm"> < Back to Home</a>
    </div>
  </div>
</div>
<div id="form" class="container w-50">
  <div class="row">
    <div class="col">
      <h1 class="text-center">Approve/Decline a Request</h1>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col">
      <form name="form"
            (ngSubmit)="f.form.valid && managerReply()"
            #f="ngForm">

        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Employee</label>
          <div class="col-sm-10">
            <input name="name"
                   type="text"
                   class="form-control mb-2"
                   placeholder="Employee's name"
                   [(ngModel)]="form.employee.name"
                   #name="ngModel"
                   disabled>
          </div>
        </div>

        <div class="form-group row mt-2 mb-3">
          <label class="col-sm-2 col-form-label">Type</label>
          <div class="col-sm-10">
            <select name="type"
                    class="form-control form-control-sm"
                    [(ngModel)]="form.type"
                    #type="ngModel"
                    disabled>
              <option [ngValue]="null" selected disabled>Select type</option>
              <option value="Vacation">Vacation</option>
              <option value="Day off">Day off</option>
              <option value="Sick leave">Sick leave</option>
            </select>
          </div>
        </div>
        <div class="form-group row mb-3">
          <label class="col-sm-2 col-form-label">Start date</label>
          <div class="col-sm-10">
            <input name="startDate"
                   type="date"
                   [(ngModel)]="form.startDate"
                   #startDate="ngModel"
                   disabled>
          </div>
        </div>

        <div class="form-group row mb-3">
          <label class="col-sm-2 col-form-label">End date</label>
          <div class="col-sm-10">
            <input name="endDate"
                   type="date"
                   [(ngModel)]="form.endDate"
                   #endDate="ngModel"
                   disabled>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Description</label>
          <div class="col-sm-10">
            <textarea name="description"
                      rows="4"
                      cols="60"
                      [(ngModel)]="form.description"
                      #description="ngModel"
                      disabled>
            </textarea>
          </div>
        </div>

        <!-- From here below is the reply of the manager -->
        <div class="form-group row mt-2 mb-3">
          <label class="col-sm-2 col-form-label">Request Status</label>
          <div class="col-sm-10">
            <select name="requestStatus"
                    class="form-control form-control-sm"
                    [(ngModel)]="form.requestStatus"
                    #requestStatus="ngModel">
              <option [ngValue]="null" selected disabled>Select status</option>
              <option value="PENDING">PENDING</option>
              <option value="APPROVED">APPROVE</option>
              <option value="DECLINED">DECLINE</option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Request Description</label>
          <div class="col-sm-10">
            <textarea name="requstDescription"
                      rows="4"
                      cols="60"
                      [(ngModel)]="form.requestDescription"
                      #requestDescription="ngModel">
            </textarea>
          </div>
        </div>

        <button type="submit" class="btn btn-primary mt-4 mb-4">Submit</button>
      </form>
    </div>
  </div>
</div>
