<app-menu></app-menu>
<div class="container mt-5">
  <div class="row">
    <div class="col-3">
      <h2>Welcome {{username}}!</h2>
      <br>
      <a href="/request/create" class="btn btn-success">Request a day off</a>
    </div>
    <div class="col-4" style="height: 200px">
      <canvas *ngIf="daysOffChartLoaded" baseChart
              [data]="dayOffPieChartData"
              [type]="'doughnut'"
              [options]="dayOffPieChartOptions">
      </canvas>
    </div>
    <div class="col-5" style="height: 200px">
      <canvas *ngIf="requestChartLoaded" baseChart
              [data]="requestsPieChartData"
              [type]="'pie'"
              [options]="requestsPieChartOptions">
      </canvas>
    </div>
  </div>

  <div class="container mt-5">
    <div class="row">
      <div class="col">
        <table class="table table-bordered text-center mt-3">
          <thead class="bg-light">
          <tr>
            <th scope="col">Status</th>
            <th scope="col">Request Type</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let request of form | paginate: {itemsPerPage: 3, currentPage: p, totalItems: form?.length}">
            <div *ngIf="request.requestStatus == 'APPROVED'; then approve"></div>
            <div *ngIf="request.requestStatus == 'DECLINED'; then decline"></div>
            <div *ngIf="request.requestStatus == 'PENDING'; then pending"></div>

            <ng-template #approve>
              <td><i data-toggle="tooltip" title="Approved" class="bi bi-check-circle-fill"></i></td>
            </ng-template>
            <ng-template #decline>
              <td><i data-toggle="tooltip" title="Declined" class="bi bi-dash-circle-fill"></i></td>
            </ng-template>
            <ng-template #pending>
              <td><i data-toggle="tooltip" title="Pending" class="bi bi-hourglass-split"></i></td>
            </ng-template>

            <td>{{request.type}}</td>
            <td>{{request.startDate | date: 'dd/MM/yyyy'}}</td>
            <td>{{request.endDate | date: 'dd/MM/yyyy'}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col text-center mt-3">
      <pagination-controls (pageChange)="p = $event"
                           previousLabel="Back"
                           nextLabel="Next">
      </pagination-controls>
    </div>
  </div>
</div>

